@use '../../styles/variables'

.brands-section
  max-width: 1280px
  margin: 60px auto
  text-align: center

  h2
    color: variables.$violet-secondary
    font-size: 25px
    font-weight: bold
    margin-bottom: 40px

.brands-list
  display: flex
  justify-content: center
  align-items: center
  gap: 30px
  flex-wrap: wrap

.brand-card
  width: 160px
  height: 160px
  border-radius: 50%
  background: variables.$white
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08)
  display: flex
  justify-content: center
  align-items: center
  transition: 0.3s
  cursor: pointer

  &:hover
    transform: translateY(-4px)

  img
    width: 90px
    object-fit: contain

@media (max-width: 768px)
  .brands-section
    padding: 0 15px

    h2
      font-size: 24px
      margin-bottom: 30px

  .brands-list
    gap: 20px

  .brand-card
    width: 120px
    height: 120px

    img
      width: 70px

@media (max-width: 480px)
  .brands-list
    gap: 16px

  .brand-card
    width: 90px
    height: 90px

    img
      width: 55px