@use 'variables'
  
.section-product
  display: flex
  justify-content: center
  align-items: center 
  flex-direction: column
  margin-top: 50px

  h2
    color: variables.$secondary
    font-size: 25px
